h2 Letter from Hooker, J. D. to Darwin, C. R. on 29 Jan 1844
hr
p.abstract Remarks on geographical divisions of the flora of the Southern Hemisphere. Hooker beginning Galapagos plants. Value of studying insular floras to inquiries about… adaptation of species.
